<% layout('layout_about') -%>
<div class="ui vertical segment first">
  <div class="ui stackable grid container">
    <div class="ui hidden divider"></div>
    <div class="row"><div class="ui large header">Track Record</div></div>
    <div class="ui hidden divider"></div>
    <div class="three column row">
      <div class="five wide progress column">
        <h1 class="ui center aligned large header aquamarine">
          <span class="countUp1">0</span>
        </h1>
        <h2 class="ui center aligned medium header aquamarine">
          <br />Projects
        </h2>
        <div class="bar aquamarine"></div>
      </div>
      <div class="five wide progress column">
        <h1 class="ui center aligned large header teal">
          $ <span class="countUp2">0</span>
        </h1>
        <h2 class="ui center aligned medium header teal">
          <br />Equity Invested
        </h2>
        <div class="bar teal"></div>
      </div>
      <div class="five wide progress column">
        <h1 class="ui center aligned large header navy">
          $ <span class="countUp3">0</span>
        </h1>
        <h2 class="ui center aligned medium header navy">
          <br />Total Capitalization
        </h2>
        <div class="bar navy"></div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="row">
      <div class="ui large header">Our Story</div>
      <p>
        Hanover Financial, LLC is a fiduciary real estate capital manager based
        in Los Angeles with an additional office in the San Francisco Bay Area.
        Founded in 1999, Hanover’s niche is providing equity capital to local
        and national developers and operators of real estate to facilitate the
        acquisition, reposition and/or development of multi-family and net lease
        properties. The Company focuses on financing projects in the $2 million
        to $100 million range that typically require $500 thousand to $20
        million of equity capital. Since inception, the firm has invested
        approximately $400 million of equity capital comprising in nearly $2
        billion of real estate projects.
      </p>
      <p>
        The firm focuses its investment of multi-family around infill urban
        markets in Southern and Northern California as well as Oregon and
        Washington. Net lease investments have a national scope in both urban
        and tertiary markets and focus on a wide variety of credits including
        franchisees.
      </p>
      <p>
        Our extensive experience enables us to bring additional value to our
        partnerships, beyond our capital contribution. We provide certainty of
        execution paired with the ability to close quickly. We can swiftly
        assess complex transactions while engineering flexible and creative
        solutions.
      </p>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>
<div
  class="ui inverted vertical center aligned segment second"
  style="background-color: #00779f !important"
>
  <h1
    class="ui inverted large header"
    style="padding-top: 20px; padding-bottom: 20px"
  >
    Creating Value In Middle Market Real Estate.
  </h1>
</div>
<div class="ui vertical segment third">
  <div class="ui middle aligned stackable grid container">
    <div class="ui hidden divider"></div>

    <div class="row">
      <div class="ui large header">Investment Platform</div>
    </div>

    <div class="row tree desktop-group" style="padding-top: 0px;">
      <ul>
        <li>
          <h2 class="wow slideInLeft">
            Joint Venture <br />
            Equity Capital (LP)
          </h2>
          <h2 class="wow slideInLeft">Co-GP <br />Equity Capital</h2>
          <ul>
            <li>
              <h3
                class="wow slideInLeft"
                style="    margin-right: 120px;
    padding-left: 30px;
    padding-right: 30px;"
              >
                Value-Add Acquisition and <br />
                Development of Multi- <br />
                Family Apartments
              </h3>
            </li>
            <li>
              <h3 class="wow slideInLeft">
                Development of <br />
                Single and Multi-Tenant <br />
                Net Lease Retail
              </h3>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="row mobile-group">
      <div class="ui hidden divider"></div>
      <img src="/images/about_tree.png" />
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>
