<% layout('layout_basic') -%>
<div class="ui vertical segment first" style="border-bottom: none;">
  <div class="ui hidden divider"></div>
  <div class="ui container grid top">
    <div class="row">
      <h2 class="ui medium header">Currently Available Roles</h2>
    </div>
    <div class="row" style="border-bottom: 2px solid #84B21E">
      <h2>Asset Management (Los Angeles, California)</h2>
    </div>
    <div class="row" style="border-bottom: 2px solid #84B21E">
      <h2>Analyst (Los Angeles, California)</h2>
    </div>
    <div class="row" style="border-bottom: 2px solid #84B21E">
      <h2>Analyst (San Francisco, California)</h2>
    </div>
  </div>
</div>
<div
  class="ui vertical footer segment careers-footer"
  style="position: absolute !important;bottom: 0 !important;width: 100% !important;"
>
  <div class="ui hidden divider"></div>
  <div class="ui stackable grid container">
    <div class="two column row">
      <div class="thirteen wide column desktop-group">
        <span class="text"
          >1888 Century Park East Suite 1110 Los Angeles, CA 90067
          &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; © 2017 Hanover Financial LLC
          &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Website by
          <a href="http://www.maxmli.com/" target="_blank">Maximilan Li</a>
        </span>
      </div>
      <div class="thirteen wide column mobile-group">
        <span class="text"
          >1888 Century Park East Suite 1110 <br />
          Los Angeles, CA 90067
        </span>
        <br />
        <br />
        <span class="text"> © 2017 Hanover Financial LLC</span> <br />
        <span class="text">
          Website by
          <a href="http://www.maxmli.com/" target="_blank">Maximilan Li</a>
        </span>
      </div>
      <div class="three wide column">
        <a class="popupHelp">
          <span class="text">
            <i class="fa fa-envelope-o" aria-hidden="true"></i
            >&nbsp;&nbsp;&nbsp;Join Our Mailing List</span
          >
        </a>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>

<script>
  $(function() {
    $(".ui.footer.segment.main").css("display", "none");
  });
</script>
