<% layout('layout_hero') -%>
<div class="ui vertical segment first">
  <div class="ui container grid top">
    <div class="two column centered stackable row careers-col">
    <!-- Place this exact code where you want the Jobscore job widget to appear on the page -->
    <div class='jobscore-jobs' data-group-by='department' >
      <div class='js-fallback' style='color:#888'><a style='color:#888;text-decoration:underline;' href='https://careers.jobscore.com/jobs/hanoverfinancialllc'>Hanover Financial LLC jobs</a> powered by <a style='color:#888' href='https://www.jobscore.com/'><img style='padding:0;' align='bottom' src='https://careers.jobscore.com/images/new/jobscore_logo_embed.png' alt='Applicant Tracking, Social Recruiting and Software Hiring Solution - JobScore'></a></div>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical footer segment careers-footer" style="position: absolute !important;bottom: 0 !important;width: 100% !important;">
  <div class="ui hidden divider"></div>
  <div class="ui stackable grid container">
    <div class="two column row">
      <div class="thirteen wide column desktop-group">
        <span class="text">1888 Century Park East Suite 1110 Los Angeles, CA 90067 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; © 2017 Hanover
          Financial LLC &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Website by
          <a href="http://www.maxmli.com/"
            target="_blank">Maximilan Li</a>
        </span>
      </div>
      <div class="thirteen wide column mobile-group">
        <span class="text">1888 Century Park East Suite 1110
          <br/> Los Angeles, CA 90067 </span>
        <br/>
        <br/>
        <span class="text"> © 2017 Hanover Financial LLC</span>
        <br/>
        <span class="text"> Website by
          <a href="http://www.maxmli.com/" target="_blank">Maximilan Li</a>
        </span>
      </div>
      <div class="three wide column">
        <a class="popupHelp">
          <span class="text">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Join Our Mailing List</span>
        </a>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>

<script>
  $(function () {
    $('.ui.footer.segment.main').css('display', 'none');
  });


</script>
