<% layout('layout_home') -%>
<div class="ui vertical segment first">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="ui medium header ">Our Focus</div>
      <div class="ui basic segment">
        <p>
          Geneva Street Partners Company, LLC is a Los Angeles based real estate
          development and repositioning firm specializing in multifamily, mixed
          use, and hotel projects in Southern California and single tenant
          assets nationwide. Geneva additionally acts as a fiduciary fund
          manager on behalf of an institutional investor through the placement
          of mezzanine and preferred equity throughout the Western United
          States.
        </p>
        <p>
          Geneva was founded with the principles of deep relationships beyond
          one transaction, sound factual due diligence,innovative structures,
          and prudent exit strategies that maximize investor returns; all within
          a timely manner while respecting all opinions, and doing what you say.
          Its principals have acted as fiduciaries with a number of
          institutional and private investors and have closed over 120
          transactions totaling approximately $2.5 billion in capitalization.
        </p>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>
<div
  class="ui inverted vertical center aligned segment second"
  style="background-color: #84B21E !important"
>
  <div class="ui center aligned stackable relaxed grid container">
    <div class="row">
      <div class="ui medium inverted header ">In Numbers</div>
      <br /><br />
    </div>

    <div class="ui equal width row">
      <div class="column">
        <h1 class="ui center aligned inverted huge header ">
          <span class="medium inverted header roboto"
            ><strong>2.5B</strong></span
          >
        </h1>
        <h1 class="ui center aligned huge inverted header ">
          In Capitalization
        </h1>
      </div>
      <div class="column">
        <h1 class="ui center aligned huge inverted header ">
          <span class="medium inverted header roboto"
            ><strong>124</strong></span
          >
        </h1>
        <h1 class="ui center aligned huge inverted header ">
          Transactions Closed
        </h1>
      </div>
      <div class="column">
        <h1 class="ui center aligned huge inverted header ">
          <span class="medium inverted header roboto"><strong>6</strong></span>
        </h1>
        <h1 class="ui center aligned huge inverted header ">States</h1>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical segment third">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="ui medium header ">Featured Properties</div>
      <div class="ui basic segment">
        <p>
          As fiduciary fund managers and developers Geneva’s co-founding
          principals have closed over 120 transactions totaling over $2.5
          billion in asset capitalization; of which approximately 60% was
          invested in apartments via development, repositioning and
          mezzanine/preferred equity, with the balance invested primarily in
          single tenant NNN and industrial. Investors have included a consortium
          of high net worth investors as well as ESI Ventures, Marcus &
          Millichap, Mass Mutual Financial Group, Macquarie Bank of Australia,
          Wachovia Securities, Nationwide Insurance, Union Bank of California,
          Jackson National Life Insurance Company, and HEB Supermarkets of
          Texas’ Company’s Employees Pension Plan. Its joint venture partners
          and principals have included TruAmerica, Bascom Group, Strategic
          Realty Advisors, Grupe, Universe Holdings, The Picerne Group, Benedict
          Canyon Equities, PSOMAS, Micropolitan, New Standard Equities, Champion
          Development, Strategic Realty Capital and NewMark Merrill.
        </p>
      </div>
    </div>
    <div class="row">
      <div id="jLightroom" class="jlr">
        <div><img src="../images/about-hero-image.jpg" /></div>
        <div><img src="../images/davidson.jpg" /></div>
        <div><img src="../images/tevrizian.jpg" /></div>
        <div><img src="../images/saintJohn.jpg" /></div>
        <div><img src="../images/macedo.jpg" /></div>
        <div><img src="../images/about-hero-image.jpg" /></div>
        <div><img src="../images/about-hero-image.jpg" /></div>
        ...
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>
