<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Geneva Street Partners Company</title>
    <meta
      name="description"
      content="Hanover Financial, LLC is a fiduciary real estate capital manager based in Los Angeles with an additional
        office in the San Francisco Bay Area. Founded in 1999, Hanover’s niche is providing equity capital to local and
        national developers and operators of real estate to facilitate the acquisition, reposition and/or development of
        multi-family and net lease properties. The Company focuses on financing projects in the $2 million to $125
        million range that typically require $500 thousand to $20 million of equity capital. Since inception, the firm
        has invested approximately $300 million of equity capital comprising in nearly $1.8 billion of real estate
        projects."
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!-- CSS -->
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif+SC|Roboto|Quicksand"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/dependencies/semantic.css" />
    <link rel="stylesheet" href="/stylesheets/dependencies/animate.css" />
    <link rel="stylesheet" href="/stylesheets/dependencies/icon.min.css" />
    <link rel="stylesheet" href="/stylesheets/dependencies/slick-theme.css" />
    <link rel="stylesheet" href="/stylesheets/layout_main.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/about.css" />
    <link rel="stylesheet" href="/stylesheets/contact.css" />
    <link rel="stylesheet" href="/stylesheets/projects.css" />
    <link rel="stylesheet" href="/stylesheets/strategies.css" />
    <link rel="stylesheet" href="/stylesheets/team.css" />
    <link rel="stylesheet" href="/stylesheets/careers.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      href="/stylesheets/dependencies/jquery.lightroom.css"
      rel="stylesheet"
    />

    <script src="/js/dependencies/jquery.lightroom.js"></script>
    <script src="https://use.fontawesome.com/1c1009ad3f.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    <script src="/js/dependencies/jquery.animateNumber.min.js"></script>
    <script src="/js/dependencies/wow.min.js"></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.5/jquery.lazy.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.5/jquery.lazy.plugins.min.js"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>

    <script>
      //     (function (i, s, o, g, r, a, m) {
      //     i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      //       (i[r].q = i[r].q || []).push(arguments)
      // }, i[r].l = 1 * new Date(); a = s.createElement(o),
      //       m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      //     })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      //     ga('create', 'UA-98413509-1', 'auto');
      //     ga('send', 'pageview');
    </script>
  </head>

  <body>
    <!-- <div class="se-pre-con"></div> -->
    <!-- mobile nav menu -->
    <div class="ui right vertical menu wide sidebar">
      <a class="item sidebar-close" style="text-align: right !important;">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <a class="item home" href="/home">HOME</a>
      <a class="item about" href="/about">ABOUT US</a>
      <a class="item strategies" href="/strategies">PROJECTS</a>
      <a class="item login" href="/login">INVESTOR LOGIN</a>
      <a class="item contact" href="/contact">CONTACT</a>
      <a class="item contact" href="/careers">CAREERS</a>
    </div>
    <div class="ui fixed menu" style="display: block">
      <div class="ui container">
        <a class="ui left geneva-logo" href="/home">
          <img src="/images/geneva_logo_inverted.png" />
        </a>
        <div class="right menu">
          <a class="item home" href="/home">HOME</a>
          <a class="item about" href="/about">ABOUT</a>
          <a class="item projects" href="/projects">PROJECTS</a>
          <a class="item login" href="/">INVESTOR LOGIN</a>
          <a class="item contact" href="/contact">CONTACT</a>
          <a class="item contact" href="/careers">CAREERS</a>
        </div>
      </div>
      <div
        class="ui inverted  menu"
        style="background: #84B21E; width: 100%; border-radius: 0;"
      >
        <div class="one wide column" style="margin-right: 0;">
          <a class="item" href="/projects/developments">Developments</a>
        </div>
        <div class="one wide column" style="margin-left: 0;margin-right: 0;">
          <a class="item" href="/projects/repositioning">Repositioning</a>
        </div>
        <div class="one wide column" style="margin-left: 0;">
          <a class="item" href="/projects/mezzanine"
            >Preferred Equity Mezzanine</a
          >
        </div>
      </div>
    </div>

    <div class="<%= page %>">
      <div
        class="ui center aligned masthead basic vertical segment <%= page %>"
      >
        <a id="showHere"></a>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="column">
          <h1 class="ui huge inverted header hero-header lined-header">
            <span><%= headerTitle %></span>
          </h1>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
      </div>
      <%- body -%>

      <div class="ui vertical footer segment main">
        <div class="ui hidden divider"></div>
        <div class="ui stackable grid container">
          <div class="two column row">
            <div class="thirteen wide column desktop-group">
              <span class="text"
                >1888 Century Park East Suite 1110 Los Angeles, CA 90067
                &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; © 2017 Hanover Financial
                LLC &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Website by
                <a href="http://www.maxmli.com/" target="_blank"
                  >Maximilan Li</a
                >
              </span>
            </div>
            <div class="thirteen wide column mobile-group">
              <span class="text"
                >1888 Century Park East Suite 1110 <br />
                Los Angeles, CA 90067
              </span>
              <br />
              <br />
              <span class="text"> © 2017 Hanover Financial LLC</span> <br />
              <span class="text">
                Website by
                <a href="http://www.maxmli.com/" target="_blank"
                  >Maximilan Li</a
                >
              </span>
            </div>
            <div class="three wide column">
              <a class="popupHelp">
                <span class="text">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i
                  >&nbsp;&nbsp;&nbsp;Join Our Mailing List</span
                >
              </a>
            </div>
          </div>
        </div>
        <div class="ui hidden divider"></div>
      </div>
    </div>

    <script src="/js/dependencies/headhesive.js"></script>
    <script src="/js/dependencies/semantic.js"></script>
    <script src="/js/dependencies/bootstrap-swipe-carousel.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>

    <script src="/js/view.about.js"></script>
    <script src="/js/view.contact.js"></script>
    <script src="/js/view.layout.js"></script>
    <script src="/js/view.projects.js"></script>
    <script src="/js/view.strategies.js"></script>
    <script src="/js/view.team.js"></script>
    <script>
      $(document).ready(function() {
        $("#jLightroom")
          .lightroom()
          .init();
        $("#jLightroom").lightroom({
          // selector of image container
          image_container_selector: "div",

          // selector of images
          img_selector: "img",

          // CSS class when images are loaded
          img_class_loaded: "jlr_loaded",

          // space between images
          img_space: 5,

          // 'min' or 'max'
          img_mode: "min",

          // callback function after images are loaded
          init_callback: function(elem) {}
        });
      });
    </script>
  </body>
</html>
