<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Hanover Financial Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/dependencies/semantic.css">
  <link rel="stylesheet" href="/stylesheets/dependencies/animate.css">
  <link rel="stylesheet" href="/stylesheets/layout_main.css">
  <link rel="stylesheet" href="/stylesheets/layout_hero.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <link rel="stylesheet" href="/stylesheets/strategies.css">
  <link rel="stylesheet" href="/stylesheets/login.css">

  <script src="https://use.fontawesome.com/1c1009ad3f.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/js/dependencies/jquery.animateNumber.min.js"></script>
  <script src="/js/dependencies/wow.min.js"></script>
</head>
<body>
<div class="se-pre-con"></div>
<!-- mobile nav menu -->
<div class="ui right vertical menu wide sidebar">
  <a class="item sidebar-close" style="text-align: right !important;"><i class="fa fa-times" aria-hidden="true"></i></a>
  <a class="item home" href="/home">HOME</a>
  <a class="item about" href="/about">ABOUT</a>
  <a class="item strategies" href="/strategies">STRATEGIES</a>
  <a class="item portfolio" href="/portfolio">PORTFOLIO</a>
  <a class="item team" href="/team">TEAM</a>
  <a class="item contact" href="/contact">CONTACT</a>
  <a class="item login active" href="/login">LOGIN</a>
</div>

<div class="ui fluid secondary menu">
  <div class="ui container">
    <a class="hanover-logo" href="/home"><img src="/images/hanover_logo.png"/></a>
    <i class="fa fa-bars" aria-hidden="true" style="color: white; font-size: 2em; display: none;"></i>
    <div class="ui right secondary menu">
      <a class="item about" href="/about">ABOUT</a>
      <a class="item strategies" href="/strategies">STRATEGIES</a>
      <a class="item portfolio" href="/portfolio">PORTFOLIO</a>
      <a class="item team" href="/team">TEAM</a>
      <a class="item contact" href="/contact">CONTACT</a>
      <a class="item login active" href="/login">LOGIN</a>
    </div>
  </div>
</div>

<div class="ui middle aligned center aligned grid">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row desktop-group">
    <div class="six wide column">
      <h2 class="ui image header" style="color: #ffffff;">
        <div class="content">
          Login to your investor account
        </div>
      </h2>
      <form class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui input">
              <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="text" name="email" placeholder="E-mail address" autocomplete="off"
                     style=" cursor: auto;">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="fa fa-lock"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="password" name="password" placeholder="Password" autocomplete="off"
                     style="cursor: auto;">
            </div>
          </div>
          <div class="ui fluid large teal submit button">Login</div>
        </div>

        <div class="ui error message"></div>

      </form>
    </div>
  </div>

  <div class="row mobile-group" style="display: none;">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
      <h2 class="ui image header" style="color: #ffffff;">
        <div class="content">
          Login to your investor account
        </div>
      </h2>
      <form class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui input">
              <i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="text" name="email" placeholder="E-mail address" autocomplete="off"
                     style=" cursor: auto;">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="fa fa-lock"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="password" name="password" placeholder="Password" autocomplete="off"
                     style="cursor: auto;">
            </div>
          </div>
          <div class="ui fluid large teal submit button">Login</div>
        </div>

        <div class="ui error message"></div>

      </form>
    </div>
  </div>
</div>

<script src="/js/dependencies/semantic.js"></script>
<script>
  $(function() {
    setTimeout(function() {
      $(".se-pre-con").fadeOut("slow");
    }, 500);
  })
</script>

</body>
