<% layout('layout_about') -%>
<div class="ui vertical segment first">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="ui medium header ">A Simple Approach</div>
      <div class="ui basic segment">
        <p>
          Identify sound real estate with a focus on the micro-location,
          utilizing its established relationships over the past 25 years in the
          marketplace. Under its fiduciary fund management, a similar approach
          with established trust has led to consistently repeat business. Almost
          all of the ventures closed by Geneva’s principals have been
          consummated with entities who have completed well more than one
          transaction. With its experience in attracting both institutional and
          private investors, and the knowledgeable background to properly report
          and proactively communicate, Geneva is nimble enough to target
          projects from 25 to 150 units as well as capable of successfully
          executing a business plan for larger projects, both as a developer and
          fiduciary fund manager. Geneva approaches development, repositioning,
          ownership and fiduciary fund management with strong asset performance
          through creativity, expertise, and diligent day to day management.
        </p>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>
<div
  class="ui vertical center aligned segment second"
  style="background-color: #84B21E !important"
>
  <div class="ui  stackable grid container">
    <div class="row">
      <div class="ui left aligned basic segment">
        <h2
          class="ui inverted large header"
          style="padding-top: 20px; padding-bottom: 20px"
        >
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <i
            >We have closed two transactions with the Geneva management team and
            the process was smooth and as represented. </i
          >&nbsp;&nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i>
          <br /><br />
          -Sandy Sigal, President/CEO of NewMark Merrill
        </h2>
      </div>
    </div>
  </div>
</div>
