<% layout('layout_about') -%>
<div class="ui vertical segment first">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="ui hidden divider"></div>
      <div class="ui medium header ">Our Company</div>
      <div class="ui basic segment">
        <p>
          Geneva Street Partners Company, LLC (Geneva) develops, repositions,
          and operates apartment projects and hotels throughout the Western
          United States, with a concentration in greater Los Angeles because of
          the strong supply constrained characteristics with significant rental
          demand, proximity to new public transit stations, and robust
          employment and job growth. Geneva additionally develops single tenant
          NNN assets throughout the United States.
        </p>
        <p>
          Geneva’s co-founders and principals Michael Lowinger and Mark Macedo
          have worked together successfully for over 25 years, and have
          completed over 120 transactions totaling in excess of $2.5 billion in
          capitalization of which nearly 83% was invested in California, and 67%
          of the portfolio’s capitalized value was placed in apartments.
        </p>
        <p>
          Prior to and while building Geneva, Lowinger and Macedo co-founded
          Hanover Financial in 1999, a fiduciary fund manager that provided
          joint venture equity for the development of real estate projects
          throughout the U.S. The principals raised five funds totaling nearly
          $500 million equating to about $2.5 billion in asset capitalization,
          and its investors included ESI Ventures, the Marcus & Millichap
          Company, Mass Mutual Insurance, Macquarie Bank of Australia, Union
          Bank (an affiliate of the Bank of Tokyo), Wachovia Securities,
          Nationwide Insurance and HEB Supermarkets of Texas’ Company’s
          Employees Pension Plan.
        </p>
        <p>
          Additionally, Geneva’s investors and lenders have included a
          consortium of high net worth individuals and families, a large family
          office, and a number of money center and local banks as well as Fannie
          Mae.
        </p>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>
<div class="ui vertical segment second">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <br />
      <div class="ui medium header ">
        Geneva Street Capital Partners, LLC (GSCP)
      </div>
      <div class="ui basic segment">
        <p>
          Geneva Street Capital Partners, LLC (GSCP) is an affiliate of Geneva,
          acting as a fiduciary fund manager on behalf of an institutional
          investor structured as a separate account, in which it originates
          mezzanine, preferred equity, and joint venture equity investments for
          the acquisition and development of apartments, condominiums, office,
          retail, industrial and hotel projects throughout the Western United
          States.
        </p>
        <p>
          GSCP is overseen by principal and co-founder Jose Sanchez, who has
          nearly 20 years of experience completing structured finance
          transactions including mezzanine and preferred equity.
        </p>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>
<div
  class="ui inverted vertical center aligned segment third"
  style="background-color: #84B21E !important"
>
  <div class="ui  stackable grid container">
    <div class="row">
      <div class="ui left aligned basic segment">
        <h2
          class="ui inverted large header"
          style="padding-top: 20px; padding-bottom: 20px"
        >
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <i
            >Through the course of my career I have closed in excess of fifteen
            transactions with the principals of Geneva, Michael and Mark, and
            their adherence to detail and timely follow through is excellent.</i
          >&nbsp;&nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i>
          <br /><br />
          -Bob Hart, President/CEO of TruAmerica <br />
          &nbsp;Los Angeles, California
        </h2>
      </div>
    </div>
  </div>
</div>
