<% layout('layout_hero') -%>
  <div class="ui vertical segment first">
    <div class="ui center aligned stackable grid container">
      <div class="ui hidden divider"></div>
      <div class="three column row">
        <div class="five wide column">
          <i class="fa fa-usd fa-5x" aria-hidden="true"></i>
          <h1 class="ui large header">Investment Size</h1>
          <h2 class="ui medium header">Typical investments range below $125 million in project capitalization, often falling below the institutional radar
          </h2>
        </div>
        <div class="five wide column">
          <i class="fa fa-home fa-5x" aria-hidden="true"></i>
          <h1 class="ui large header">Product Type</h1>
          <h2 class="ui medium header">Multi-Family and Net Lease Properties, both development and value-add acquisition
          </h2>
        </div>
        <div class="five wide column">
          <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
          <h1 class="ui large header">Target Markets</h1>
          <h2 class="ui medium header">Multi-Family investments focus on infill urban markets on the West Coast. Net Lease investments have a national
            scope.
          </h2>
        </div>
      </div>
      <div class="ui hidden divider"></div>
    </div>
  </div>
  <div class="ui vertical segment">
    <div class="ui hidden divider"></div>
    <div class="ui stackable grid container">
      <div class="centered row">
        <div class="ui huge header section">
          Investment Programs
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <div class="row desktop-group">
        <div class="fourteen wide column">
          <div class="ui tabular menu">
            <a class="active item multi-family" style="font-size: 1.2em;">
              Joint Venture (LP) Multi-Family
            </a>
            <a class="item multi-family-gp" style="font-size: 1.2em;">
              Co-GP Multi-Family
            </a>
            <a class="item net-lease" style="font-size: 1.2em;">
              Joint Venture (LP) Net Lease
            </a>
            <a class="item net-lease-gp" style="font-size: 1.2em;">
              Co-GP Net Lease
            </a>
          </div>
        </div>
        <div class="ui hidden divider"></div>
      </div>
      <div class="row mobile-group">
        <div class="fifteen wide column" style="font-size: 1.2em; font-weight: 700">
          <span class="sub-heading">&nbsp;&nbsp;FILTER BY TYPE: </span>
          <br/>
          <br/>
          <select class="ui fluid dropdown">
            <option selected value="multi-family">Joint Venture (LP) Multi-Family</option>
            <option value="multi-family-gp">Co-GP Multi-Family</option>
            <option value="net-lease">Joint Venture (LP) Net Lease</option>
            <option value="net-lease-gp">Co-GP Net Lease</option>
          </select>
        </div>
      </div>
      <div class="centered row">
        <div class="fourteen wide column">
          <!--NET LEASE LP TABLE-->
          <table class="ui basic striped table net-lease">
            <tbody>
              <tr>
                <td class="five wide category">Asset Categories</td>
                <td class="eleven wide">Retail, Restaurant, Medical, Government, and Commercial</td>
              </tr>
              <tr>
                <td class="category">Asset Categories</td>
                <td>Development of freestanding build-to-suit pads
                  <br/> and multi-tenant buildings with minimal in-line space</td>
              </tr>
              <tr>
                <td class="category">Markets</td>
                <td>Nationwide</td>
              </tr>
              <tr>
                <td class="category">Total Capitalization</td>
                <td>$2 million to $30 million</td>
              </tr>
              <tr>
                <td class="category">Hanover Capital Contribution</td>
                <td>$500 thousand to $10 million</td>
              </tr>
            </tbody>
          </table>

          <!--NET LEASE Co-GP TABLE-->
          <table class="ui basic striped table net-lease-gp">
            <tbody>
              <tr>
                <td class="five wide category">Asset Categories</td>
                <td class="eleven wide">Retail, Restaurant, Medical, Government, and Commercial</td>
              </tr>
              <tr>
                <td class="category">Asset Categories</td>
                <td>Development of freestanding build-to-suit pads
                  <br/> and multi-tenant buildings with minimal in-line space</td>
              </tr>
              <tr>
                <td class="category">Markets</td>
                <td>Nationwide</td>
              </tr>
              <tr>
                <td class="category">Total Capitalization</td>
                <td>$2 million to $30 million</td>
              </tr>
              <tr>
                <td class="category">Hanover Capital Contribution</td>
                <td>
                  <ul>
                    <li style="margin-left: 20px">Pre-development: Fund pre-development business plan;</li>
                    <li style="margin-left: 20px">GP Co-Invest: Provide required co-invest, up to 100% of project equity contribution; and,</li>
                    <li style="margin-left: 20px">Balance Sheet: Credit enhance the project at capitalization and sign required repayment guarantees.</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <!--MULTI_FAMILY LP TABLE-->
          <table class="ui basic striped table multi-family">
            <tbody>
              <tr>
                <td class="five wide category">Apartment Types</td>
                <td class="eleven wide">Development and Value-Add Acquisition</td>
              </tr>
              <tr>
                <td class="category">Markets</td>
                <td>Urban Infill in Metro Los Angeles, Coastal Orange County, Metro San Diego, San Francisco Bay Area, Metro
                  Seattle, & Metro Portland</td>
              </tr>
              <tr>
                <td class="category">Total Capitalization</td>
                <td>$5 million to $100 million</td>
              </tr>
              <tr>
                <td class="category">Hanover Capital Contribution</td>
                <td>$2 million to $20 million</td>
              </tr>
            </tbody>
          </table>

          <!--MULTI_FAMILY Co-GP TABLE-->
          <table class="ui basic striped table multi-family-gp">
            <tbody>
              <tr>
                <td class="five wide category">Apartment Types</td>
                <td class="eleven wide">Development and Value-Add Acquisition</td>
              </tr>
              <tr>
                <td class="category">Markets</td>
                <td>Urban Infill in Metro Los Angeles, Coastal Orange County, Metro San Diego, San Francisco Bay Area, Metro
                  Seattle, & Metro Portland</td>
              </tr>
              <tr>
                <td class="category">Total Capitalization</td>
                <td>$25 million to $100 million</td>
              </tr>
              <tr>
                <td class="category">Hanover Capital Contribution</td>
                <td>
                  <ul>
                    <li style="margin-left: 20px">Pre-development: Fund pre-development business plan; </li>
                    <li style="margin-left: 20px">GP Co-Invest: Provide required co-invest, targeting 5-15% of project equity contribution; and,</li>
                    <li style="margin-left: 20px">Balance Sheet: Credit enhance the project at capitalization and sign required repayment guarantees.</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>

    </div>
  </div>