<% layout('layout_about') -%>
<div class="ui vertical segment first">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="ui fluid-segment segment">
        <div class="ui two column stackable grid">
          <div class="ui vertical divider strategies"></div>
          <div class="middle aligned row">
            <div class="four wide center aligned column">
              <div class="ui icon header">Development</div>
            </div>
            <div class="eleven wide left aligned column">
              <ul>
                <li>Apartments</li>
                <li>Hotels</li>
                <li>Market: Metropolitan Los Angeles</li>
                <li>Size: 25 to 300 units, 80 to 300 rooms</li>
                <li>
                  Joint Ventures: Geneva can also bring its expertise and
                  financial backing to projects needing a joint venture partner
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ui fluid-segment segment">
        <div class="ui two column stackable grid">
          <div class="ui vertical divider strategies"></div>
          <div class="middle aligned row">
            <div class="four wide center aligned column">
              <div class="ui icon header">Development</div>
            </div>
            <div class="eleven wide left aligned column">
              <ul>
                <li>Apartments</li>
                <li>Hotels</li>
                <li>Market: Metropolitan Los Angeles</li>
                <li>Size: 25 to 300 units, 80 to 300 rooms</li>
                <li>
                  Joint Ventures: Geneva can also bring its expertise and
                  financial backing to projects needing a joint venture partner
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ui fluid-segment segment">
        <div class="ui two column stackable grid">
          <div class="ui vertical divider strategies"></div>
          <div class="middle aligned row">
            <div class="four wide center aligned column">
              <div class="ui icon header">Development</div>
            </div>
            <div class="eleven wide left aligned column">
              <ul>
                <li>Apartments</li>
                <li>Hotels</li>
                <li>Market: Metropolitan Los Angeles</li>
                <li>Size: 25 to 300 units, 80 to 300 rooms</li>
                <li>
                  Joint Ventures: Geneva can also bring its expertise and
                  financial backing to projects needing a joint venture partner
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ui fluid-segment segment">
        <div class="ui two column stackable grid">
          <div class="ui vertical divider strategies"></div>
          <div class="middle aligned row">
            <div class="four wide center aligned column">
              <div class="ui icon header">Development</div>
            </div>
            <div class="eleven wide left aligned column">
              <ul>
                <li>Apartments</li>
                <li>Hotels</li>
                <li>Market: Metropolitan Los Angeles</li>
                <li>Size: 25 to 300 units, 80 to 300 rooms</li>
                <li>
                  Joint Ventures: Geneva can also bring its expertise and
                  financial backing to projects needing a joint venture partner
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>
<div class="ui vertical segment second">
  <div class="ui center aligned stackable grid container">
    <div class="row">
      <div class="ui medium header ">
        Geneva Street Capital Partners, LLC (GSCP)
      </div>
      <div class="ui basic segment">
        <p>
          Geneva Street Capital Partners, LLC (GSCP) is an affiliate Geneva,
          acting as a fiduciary fund manager on behalf of an institutional
          investor structured as a separate account, in which it originates
          mezzanine and preferred equity investments for the acquisition and
          development of apartments, condominiums, office, retail, industrial
          and hotel projects throughout the Western United States.
        </p>
        <p>
          GSCP is overseen by principal and co-founder Jose Sanchez, who has
          nearly 20 years of experience completing structured finance
          transactions including mezzanine and preferred equity.
        </p>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>
<div
  class="ui vertical center aligned segment second"
  style="background-color: #84B21E !important"
>
  <div class="ui  stackable grid container">
    <div class="row">
      <div class="ui left aligned basic segment">
        <h2
          class="ui inverted large header"
          style="padding-top: 20px; padding-bottom: 20px"
        >
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <i
            >I have personally invested in their transactions, as have some of
            my clients, and will continue to do so based upon their
            transparency, reporting and success. </i
          >&nbsp;&nbsp;<i class="fa fa-quote-right" aria-hidden="true"></i>
          <br /><br />
          -David Herman, CPA, Herman & Chamow
        </h2>
      </div>
    </div>
  </div>
</div>
