<% layout('layout_hero') -%>
  <div class="ui inverted vertical center aligned segment first" style="background-color: #00779f !important">
    <h2 class="ui inverted medium header desktop-group" style="font-weight:200;">Hanover has over 25 years of experience in originating and managing joint venture equity investments
      <br/>with local and national developers.
    </h2>
    <h2 class="ui inverted medium header mobile-group" style="font-weight:200; margin-top: 0; padding-left: 5px; padding-right: 5px;">Hanover has over 25 years of experience in originating and managing joint venture equity investments with local and national
      developers.
    </h2>
  </div>
  <div class="ui vertical segment second desktop-group">
    <div class="ui container grid">
      <div class="row">
        <div class="center aligned column">
          <div class="ui medium images">

            <div class="ui bordered fade reveal image" id="yarmolinsky">
              <img class="photo" src="/images/yarmolinsky.jpg">
              <div class="overlay">
                <div class="overlayText">Alex Yarmolinsky
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">President / CEO</span>
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="yarmolinsky-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="yarmolinsky-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/yarmolinsky.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">Alex Yarmolinsky</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">President/CEO</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/alexyarmolinsky/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:AYarmolinsky@mmcrealestate.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (650) 842-2226
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. Yarmolinsky joined Hanover as its President and Chief Executive Officer in 2017. In this role he
                        has oversight responsibility for all operating activities of the company. Mr. Yarmolinsky previously
                        served as the Executive Vice President and Chief Financial Officer of Marcus Millichap Company, Hanover’s
                        parent company. He has been with Marcus and Millichap since 2005 and was responsible for overseeing
                        the entire finance function of MMC, including real estate finance, accounting, taxation and treasury.
                        Since 2010, Mr. Yarmolinsky also served on MMC’s Board of Directors and Investment Committee.</p>
                      <p>Prior to joining Marcus and Millichap Company, Mr. Yarmolinsky worked in public accounting at Burr,
                        Pilger and Mayer, where he began his career in 1999. Mr. Yarmolinsky received Bachelor’s degree from
                        the University of San Francisco and also holds a Master of Science from Golden Gate University. Mr.
                        Yarmolinsky is a Certified Public Accountant (inactive) and a full member of ULI.
                      </p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui bordered fade reveal image" id="macedo">
              <img class="photo" src="/images/macedo.jpg">
              <div class="overlay">
                <div class="overlayText">Mark Macedo
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">CIO</span>
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="macedo-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="macedo-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/macedo.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">Mark Macedo</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">CIO</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/mark-macedo-45788073/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:mmacedo@hanoverfinancialllc.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (424) 653-2522
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. Macedo was a founding partner of the Company when originally formed in 1999. Mr. Macedo is responsible
                        for identifying investment opportunities and managing Company operations which include strategic
                        planning, deal sourcing, structuring and negotiations, as well as overseeing due diligence and asset
                        management operations. Macedo was previously with Ares Management/Wrightwood. Prior to his work at
                        Wrightwood Capital, Macedo was COO and a founding partner of Hanover Financial Company, a fund management
                        firm founded in 1999. Hanover was acquired by Wrightwood Capital in 2008, at which time the committed
                        institutional funds were included in the acquisition. From 1992 through 1999, Macedo held the position
                        of West Coast Director of commercial loan originations for Heller Real Estate Financial Services,
                        a division of Heller Financial Incorporated. Originations included commercial debt and equity product
                        types such as floating rate non-participating mortgage debt, participating mortgage debt, participating
                        mezzanine ("equity") debt and permanent (“conduit”) debt. Macedo is an active member of ULI, ICSC,
                        and MBA. </p>
                      <p>Mr. Macedo holds a Bachelor of Arts in Marketing and a Masters in Finance from Loyola Marymount University.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui bordered fade reveal image" id="davidson">
              <img class="photo" src="/images/davidson.jpg">
              <div class="overlay">
                <div class="overlayText">Mark Davidson
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">Asset Management Director</span>
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="davidson-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="davidson-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/davidson.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">Mark Davidson</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">Asset Management Director</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/markdavidson928/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:mdavidson@hanoverfinancialllc.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (424) 653-2523
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. Davidson is a Director of Asset Management at Hanover Financial, LLC. He works with joint venture
                        operating partners to develop and to implement asset management plans. This includes overseeing closings,
                        monitoring developments, budgeting, and participating in dispositions. Prior to joining Hanover in
                        2015, Mr. Davidson spent the previous eight years at GE Real Estate evaluating and recommending new
                        debt deals, performing real estate valuations, and underwriting West Coast suburban office acquisitions.
                        Prior to GE Real Estate, he worked in institutional real estate consulting at the Townsend Group
                        and in public accounting with Arthur Andersen.</p>
                      <p>Mr. Davidson holds a Bachelor of Arts in Economics from UCLA and a Masters in Business Administration
                        from Duke University’s Fuqua School of Business. Mr. Davidson is a Chartered Financial Analyst and
                        a Certified Public Accountant. Davidson holds a California real estate broker’s license.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <div class="ui medium images">


            <div class="ui bordered fade reveal image" id="white">
                <img class="photo" src="/images/white.jpg">
                <div class="overlay">
                  <div class="overlayText">David White
                    <br/>
                    <br/>
                    <span style="font-size: 18px; font-weight: 200;">Multifamily Sr. Director</span><br/>
                    <span style="font-size: 18px; font-weight: 200;">Northern California/Seattle/Portland</span>
                    <br/>
                    <br/>
                    <br/>
                    <button class="ui big inverted button">view bio</button>
                  </div>
                </div>
              </div>
  
              <div class="ui modal team desktop-group" id="white-desktop-modal">
                <div class="ui basic padded segment">
                  <div class="ui stackable grid container">
                    <div class="row">
                      <div class="right aligned column">
                        <span class="closeModal" data-modal="white-desktop-modal">X</span>
                      </div>
                    </div>
                    <div class="two column center aligned row">
                      <div class="four wide column">
                        <img class="ui medium bordered image" src="/images/white.jpg">
                      </div>
                      <div class="eleven wide left aligned column">
                        <div class="ui left aligned large header">
                          <span class="tealAqua">David White</span>
                        </div>
                        <div class="ui left aligned medium header">
                          <span class="tealAqua">Multifamily Sr. Director (Northern California/Seattle/Portland)</span>
                        </div>
                        <div class="ui left aligned medium header">
                          <a target="_blank" href="https://www.linkedin.com/in/david-white-a3593b11/" title="LinkedIn" target="_blank">
                            <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                            &nbsp;&nbsp;</a>
                          <a href="mailto:dwhite@hanoverfinancialllc.com" title="Email">
                            <i class="fa fa-envelope " aria-hidden="true"></i>
                            &nbsp;&nbsp;</a>
                          (415) 519-3434
                        </div>
                        <div class="ui hidden divider"></div>
                        <p>Mr. White serves as Senior Director at Hanover Financial, LLC overseeing the firm’s investment activities in the Bay Area and Pacific Northwest.   Prior to joining Hanover, he served as an Executive Director at PGIM Real Estate responsible for west coast acquisition activities on behalf of PGIM’s open-ended fund series.   Mr. White began his career at KPMG LLP.</p>
                        <p>Mr. White holds an MBA from UC Berkeley Haas School of Business and BS degrees in Accounting & Finance from Indiana University’s Kelly School of Business.   Mr. White is a Certified Public Accountant (inactive) and a member of ULI.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <div class="ui bordered fade reveal image" id="baraghoush">
              <img class="photo" src="/images/baraghoush.jpg">
              <div class="overlay">
                <div class="overlayText">Ash Baraghoush
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">Multifamily Director</span>
                  <span style="font-size: 18px; font-weight: 200;">Los Angeles</span>
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="baraghoush-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="baraghoush-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/baraghoush.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">Ash Baraghoush</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">Multifamily Director (Los Angeles)</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/ash-baraghoush-70b49142/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:abaraghoush@hanoverfinancialllc.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (424) 653-2524
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. Baraghoush serves as a Director Acquisitions at Hanover Financial, LLC. He is responsible for identifying
                        and evaluating joint venture equity opportunities for value-add and development multifamily projects.
                        Mr. Baraghoush previously spent four years with Ares Management originating and structuring senior
                        mortgages, mezzanine, preferred equity and common equity for multifamily real estate transactions.
                        Prior to Ares, Mr. Baraghoush worked at QVT Mount Auburn Capital and at Hanover Financial Company.
                        Mr. Baraghoush began his career at Bank of America in its Global Corporate Investment Banking division.</p>
                      <p>Mr. Baraghoush holds a Bachelor of Arts in Economics, with a minor in Accounting, from UCLA.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui bordered fade reveal image" id="peterson">
              <img class="photo" src="/images/peterson.jpg">
              <div class="overlay">
                <div class="overlayText">John Paul Peterson
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">Multifamily Director</span><br/> 
                  <span style="font-size: 18px; font-weight: 200;">Northern California/Seattle/Portland</span>
                  
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="peterson-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="peterson-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/peterson.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">John Paul Peterson</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">Multifamily Director (Northern California/Seattle/Portland)</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/johnpaulpeterson/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:jpeterson@hanoverfinancialllc.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (650) 842-2231
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. Peterson serves as a Director at Hanover Financial, LLC.  He is responsible for identifying and
                        evaluating co-investment partnership opportunities with multi-family development sponsors and evaluating
                        investment opportunities.  Mr. Peterson previously spent ten years as a management/engineering consultant
                        leading a team in the design, financial modeling and performance management of commercial, residential
                        and institutional real estate assets throughout the United States and Mainland China.</p>
                      <p>Mr. Peterson holds a Bachelor of Science in Mechanical Engineering from Messiah University and a Master
                        of Business Administration from University of California, Berkeley, Haas School of Business.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="center aligned column">
          <div class="ui medium images">



                <div class="ui bordered fade reveal image" id="chesnie">
                    <img class="photo" src="/images/chesnie.jpg">
                    <div class="overlay">
                      <div class="overlayText">Nate Chesnie
                        <br/>
                        <br/>
                        <span style="font-size: 18px; font-weight: 200;">Multifamily Director</span><br/>
                        <span style="font-size: 18px; font-weight: 200;">Orange County/San Diego</span>
                        <br/>
                        <br/>
                        <br/>
                        <button class="ui big inverted button">view bio</button>
                      </div>
                    </div>
                  </div>
      
                  <div class="ui modal team desktop-group" id="chesnie-desktop-modal">
                    <div class="ui basic padded segment">
                      <div class="ui stackable grid container">
                        <div class="row">
                          <div class="right aligned column">
                            <span class="closeModal" data-modal="chesnie-desktop-modal">X</span>
                          </div>
                        </div>
                        <div class="two column center aligned row">
                          <div class="four wide column">
                            <img class="ui medium bordered image" src="/images/chesnie.jpg">
                          </div>
                          <div class="eleven wide left aligned column">
                            <div class="ui left aligned large header">
                              <span class="tealAqua">Nate Chesnie</span>
                            </div>
                            <div class="ui left aligned medium header">
                              <span class="tealAqua">Multifamily Director (Orange County/San Diego)</span>
                            </div>
                            <div class="ui left aligned medium header">
                              <a target="_blank" href="https://www.linkedin.com/in/nathan-chesnie-965a14a/" title="LinkedIn" target="_blank">
                                <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                                &nbsp;&nbsp;</a>
                              <a href="mailto:nchesnie@hanoverfinancialllc.com" title="Email">
                                <i class="fa fa-envelope " aria-hidden="true"></i>
                                &nbsp;&nbsp;</a>
                              (949) 307-6212
                            </div>
                            <div class="ui hidden divider"></div>
                            <p>Mr. Chesnie serves as a Director Acquisitions at Hanover Financial, LLC. He is responsible for identifying and evaluating joint venture equity opportunities for value-add and development multifamily projects in Orange and San Diego Counties. Mr. Chesnie previously spent three years with TMC America originating, structuring, and managing equity investments for single family, multifamily, retail, industrial, and land entitlement transactions. Prior to TMC America, Mr. Chesnie worked at Sabal Financial Group where he acquired and managed distressed commercial real estate across the United States.</p>
                            <p>Mr. Chesnie holds a Bachelor of Arts in Finance, with a minor in Real Estate Development and Finance, from The University of Southern California.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="ui bordered fade reveal image" id="rodiles">
                      <img class="photo" src="/images/rodiles.jpg">
                      <div class="overlay">
                        <div class="overlayText">John Rodiles 
                          <br/>
                          <br/>
                          <span style="font-size: 18px; font-weight: 200;">NNN Sr. Director</span>
                          <br/>
                          <br/>
                          <br/>
                          <button class="ui big inverted button">view bio</button>
                        </div>
                      </div>
                    </div>
        
                    <div class="ui modal team desktop-group" id="rodiles-desktop-modal">
                      <div class="ui basic padded segment">
                        <div class="ui stackable grid container">
                          <div class="row">
                            <div class="right aligned column">
                              <span class="closeModal" data-modal="rodiles-desktop-modal">X</span>
                            </div>
                          </div>
                          <div class="two column center aligned row">
                            <div class="four wide column">
                              <img class="ui medium bordered image" src="/images/rodiles.jpg">
                            </div>
                            <div class="eleven wide left aligned column">
                              <div class="ui left aligned large header">
                                <span class="tealAqua">John Rodiles </span>
                              </div>
                              <div class="ui left aligned medium header">
                                <span class="tealAqua">NNN Sr. Director</span>
                              </div>
                              <div class="ui left aligned medium header">
                                <a target="_blank" href="https://www.linkedin.com/in/john-rodiles-8156166/" title="LinkedIn" target="_blank">
                                  <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                                  &nbsp;&nbsp;</a>
                                <a href="mailto:jrodiles@hanoverfinancialllc.com" title="Email">
                                  <i class="fa fa-envelope " aria-hidden="true"></i>
                                  &nbsp;&nbsp;</a>
                                (424) 653-2527
                              </div>
                              <div class="ui hidden divider"></div>
                              <p>Mr. Rodiles serves as the Senior Director of NNN Investments at Hanover Financial, LLC. He is responsible for identifying joint venture equity opportunities for net leased development and value-add projects throughout the country. In his career, Mr. Rodiles has overseen transactions totaling more than $4 billion in volume as an advisor to institutions, public REITs, and merchant developers in financing and sales disposition capacities.</p>
                              <p>Mr. Rodiles previously worked as a senior executive at A10 Capital, a direct lender, where he was responsible in leading the organization’s top grossing Western region. Previous to A10 Capital, he was a senior executive at Marcus & Millichap where he managed in several offices, hundreds of salespeople, and cultivated the top grossing lending office. Mr. Rodiles’ career began in corporate lending at Banc One Leasing Corporation.
                              </p>
                              <p>He was responsible for several offices, hundreds of salespeople, and cultivated the top grossing lending office at Marcus & Millichap and top grossing region at A10 Capital. As Vice President of Investments, John focused on the financing and sale of net leased assets. In his time with the above lending institutions he specialized in asset-based lending where he funded various debt and lease structures with companies throughout the Unites States.</p>
                              <p>Mr. Rodiles holds a Bachelor of Science in Finance from California State University Long Beach. He is a licensed real estate broker in California and Oregon and an active member of the International Council of Shopping Centers. Outside of work, John enjoys traveling internationally, dedicating time to organizations in his community, and spending time with his wife, Elizabeth, and their three children, Dean, Giuliana, and Marc.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              

                    <div class="ui bordered fade reveal image" id="tevrizian">
                      <img class="photo" src="/images/tevrizian.jpg">
                      <div class="overlay">
                        <div class="overlayText">Drew Tevrizian
                          <br/>
                          <br/>
                          <span style="font-size: 18px; font-weight: 200;">NNN Director</span>
                          <br/>
                          <br/>
                          <br/>
                          <button class="ui big inverted button">view bio</button>
                        </div>
                      </div>
                    </div>
        
                    <div class="ui modal team desktop-group" id="tevrizian-desktop-modal">
                      <div class="ui basic padded segment">
                        <div class="ui stackable grid container">
                          <div class="row">
                            <div class="right aligned column">
                              <span class="closeModal" data-modal="tevrizian-desktop-modal">X</span>
                            </div>
                          </div>
                          <div class="two column center aligned row">
                            <div class="four wide column">
                              <img class="ui medium bordered image" src="/images/tevrizian.jpg">
                            </div>
                            <div class="eleven wide left aligned column">
                              <div class="ui left aligned large header">
                                <span class="tealAqua">Drew Tevrizian</span>
                              </div>
                              <div class="ui left aligned medium header">
                                <span class="tealAqua">NNN Director</span>
                              </div>
                              <div class="ui left aligned medium header">
                                <a target="_blank" href="https://www.linkedin.com/in/drew-tevrizian-cfa-cpa-a07402a/" title="LinkedIn" target="_blank">
                                  <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                                  &nbsp;&nbsp;</a>
                                <a href="mailto:dtevrizian@hanoverfinancialllc.com" title="Email">
                                  <i class="fa fa-envelope " aria-hidden="true"></i>
                                  &nbsp;&nbsp;</a>
                                (424) 653-2521
                              </div>
                              <div class="ui hidden divider"></div>
                              <p>Mr. Tevrizian serves as a Vice President at Hanover Financial, LLC. He is responsible for identifying
                                and evaluating joint venture equity opportunities for net lease projects. Mr. Tevrizian previously
                                worked in JLL’s Capital Markets division underwriting multifamily projects in the West Coast. He
                                began his career in public accounting with PwC. </p>
                              <p>Mr. Tevrizian holds a Bachelor of Arts in Psychology from the University of Michigan. Mr. Tevrizian
                                is a Chartered Financial Analyst and a Certified Public Accountant.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="center aligned column">
          <div class="ui medium images">


            <div class="ui bordered fade reveal image" id="samaha">
              <img class="photo" src="/images/samaha.jpg">
              <div class="overlay">
                <div class="overlayText">Josh Samaha
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">Investment Associate</span>
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="samaha-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="samaha-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/samaha.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">Josh Samaha</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">Investment Associate</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/josh-samaha-89a3741a/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:jsamaha@hanoverfinancialllc.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                          (650) 842-2215
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. Samaha is an Associate at Hanover Financial, LLC. He is responsible for working with Hanover’s
                        acquisition team in identifying and underwriting new multifamily investment opportunities. Prior
                        to joining Hanover, Mr. Samaha spent four years at The Concord Group consulting on multifamily development
                        projects in the West Coast. </p>
                      <p>Mr. Samaha holds a Bachelor of Arts in Economics from UCLA.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui bordered fade reveal image" id="saintjohn">
              <img class="photo" src="/images/saintJohn.jpg">
              <div class="overlay">
                <div class="overlayText">Vinnie Saint John
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">Investment Associate</span>
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="saintjohn-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="saintjohn-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/saintJohn.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">Vinnie Saint John</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">Investment Associate</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/vinnie-saint-john-3a2129a3/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:vsaintjohn@hanoverfinancialllc.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (424) 653-2526
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. Saint John is an Investment Associate at Hanover Financial, LLC. He is responsible for working
                        with Hanover’s acquisition team in identifying and underwriting new investment opportunities as well
                        as working with Hanover’s asset management team. Prior to joining Hanover, Mr. Saint John spent three
                        years in public accounting at PwC within their real estate practice. Before PwC, Mr. Saint John played
                        professional baseball within the Los Angeles Angels of Anaheim minor league organization.</p>
                      <p>Mr. Saint John holds a Bachelor of Science in Business Administration and a Master of Accounting from
                        USC. Mr. Saint John is a Certified Public Accountant.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

                        
            <div class="ui bordered fade reveal image" id="alcaine">
              <img class="photo" src="/images/alcaine.jpg">
              <div class="overlay">
                <div class="overlayText">Alex Alcaine
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">Investment Associate</span>
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="alcaine-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="alcaine-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/alcaine.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">Alex Alcaine</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">Investment Associate</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/alex-alcaine/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:aalcaine@hanoverfinancialllc.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (650) 842-2229
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. Alcaine is an analyst at Hanover Financial, LLC. He is responsible for working with Hanover’s acquisition team in underwriting new multifamily investment opportunities. Prior to joining Hanover, Mr. Alcaine was a financial analyst with CBRE, specializing in the disposition of multifamily assets throughout the Sacramento and Central Valley regions.</p>
                      <p>Mr. Alcaine holds a Bachelor of Science in Finance from the University of Kansas.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="ui vertical segment second mobile-group">
    <div class="ui container grid">
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Yarmolinsky">
            <img class="ui bordered medium image mobile" id="yarmolinsky" src="/images/yarmolinsky.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Yarmolinsky">
            <h2 class="ui medium header tealAqua" id="yarmolinsky">Alex Yarmolinsky</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">President / CEO</h3>
        </div>
      </div>
      
      <div class="ui divider"></div>

      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Macedo">
            <img class="ui bordered medium image mobile" id="macedo" src="/images/macedo.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Macedo">
            <h2 class="ui medium header tealAqua" id="macedo">Mark Macedo</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">CIO</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Davidson">
            <img class="ui bordered medium image mobile" id="davidson" src="/images/davidson.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Davidson">
            <h2 class="ui medium header tealAqua" id="davidson">Mark Davidson</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Asset Management Director</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/White">
            <img class="ui bordered medium image mobile" id="white" src="/images/white.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/White">
            <h2 class="ui medium header tealAqua" id="white">David White</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Multifamily Sr. Director <br/> Northern California/ Seattle/Portland</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Baraghoush">
            <img class="ui bordered medium image" id="baraghoush" src="/images/baraghoush.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Baraghoush">
            <h2 class="ui medium header tealAqua" id="baraghoush">Ash Baraghoush</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Multifamily Director <br/>Los Angeles</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Peterson">
            <img class="ui bordered medium image mobile" id="peterson" src="/images/peterson.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Peterson">
            <h2 class="ui medium header tealAqua" id="peterson">John Paul Peterson</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Multifamily Director<br/>Northern California/ Seattle/Portland
          </h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Chesnie">
            <img class="ui bordered medium image" id="chesnie" src="/images/chesnie.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Chesnie">
            <h2 class="ui medium header tealAqua" id="chesnie">Nate Chesnie</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Multifamily Director <br/>Orange County/San Diego</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Rodiles">
            <img class="ui bordered medium image" id="rodiles" src="/images/rodiles.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Rodiles">
            <h2 class="ui medium header tealAqua" id="rodiles">John Rodiles</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">NNN Sr. Director</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Tevrizian">
            <img class="ui bordered medium image" id="tevrizian" src="/images/tevrizian.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Tevrizian">
            <h2 class="ui medium header tealAqua" id="tevrizian">Drew Tevrizian</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">NNN Director</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Samaha">
            <img class="ui bordered medium image" id="samaha" src="/images/samaha.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Samaha">
            <h2 class="ui medium header tealAqua" id="samaha">Josh Samaha</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Investment Associate</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/SaintJohn">
            <img class="ui bordered medium image" id="saintjohn" src="/images/saintJohn.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/SaintJohn">
            <h2 class="ui medium header tealAqua" id="saintjohn">Vinnie Saint John</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Investment Associate</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Alcaine">
            <img class="ui bordered medium image" id="alcaine" src="/images/alcaine.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Alcaine">
            <h2 class="ui medium header tealAqua" id="saintjohn">Alex Alcaine</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Investment Associate</h3>
        </div>
      </div>

    </div>
  </div>