.aquamarine {
  color: #019ed3 !important;
}

.teal {
  color: #498b98 !important;
}

.navy {
  color: #003e82 !important;
}

.tealAqua {
  color: #00779f !important;
}

.about.masthead.basic.segment {
  margin: 0 0;
  height: 450px;
  background: url("/images/temp_background.png") no-repeat center center;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover; /* Mozilla*/
  -o-background-size: cover; /* Opera*/
  background-size: cover;
}

.about.masthead.basic.segment .huge.header {
  font-size: 3rem;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

.about .three.column.row .progress {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.about .bar {
  width: 100%;
  max-width: 0;
  height: 40px;
  margin: 0 0 10px 0;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}

.about .bar.aquamarine {
  background: #019ed3;
}

.about .bar.teal {
  background: #498b98;
}

.about .bar.navy {
  background: #003e82;
}

.about .large.header {
  font-size: 2em;
}

.about .large.header.aquamarine,
.about .large.header.teal,
.about .large.header.navy {
  line-height: 80%;
  font-size: 3em;
}

.about .medium.header {
  font-size: 1.6em;
  font-weight: 200;
}

.about p {
  font-size: 1.6em;
  text-align: justify;
}

.about .vertical.segment.second {
  background-color: rgba(0, 0, 0, 0.04) !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.mobile-group {
  display: none;
}

* {
  margin: auto;
  padding: 0;
}

.ui.vertical.divider:before {
  top: -80% !important;
  height: calc(100% - 1rem) !important;
}

.ui.vertical.divider:after {
  bottom: 14px !important;
  height: calc(100% - 1rem) !important;
}

@media only screen and (max-width: 1150px) {
  .about p {
    text-align: left;
  }

  .mobile-group {
    display: block;
  }

  .desktop-group {
    display: none;
  }
}
