a {
    cursor: pointer;
    cursor: hand;
}

.mobile-group {
    display: none;
}

.contact.masthead.basic.segment {
    margin: 0 0;
    background: url("../images/contact-hero-image.jpg") no-repeat center center;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover;
}

.contact.masthead.basic.segment .huge.header {
    font-size: 3rem;
    font-weight: 300;
}

.contact .fa.fa-linkedin {
    margin-left: 2px;
}


.contact .images .bordered.image {
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
}

.contact .vertical.segment.first {
    background-color: rgba(0, 0, 0, 0.04) !important
}

.contact .vertical.segment.first .container.grid {
    width: 100% !important;
}

.contact .vertical.segment.first .medium.header {
    font-size: 1.4em;
    color: #00779f;
    font-weight: 200;
}

.contact .vertical.segment.first .small.header {
    font-size: 1.2em;
}

.contact .vertical.segment.first .five.wide.column,
.contact .vertical.segment.first .sixteen.wide.column{
    padding-left: 5px;
}

.contact .vertical.segment.first .divider.people{
    margin: 0;
}

.contact .ui.container.grid.top {
    margin-left: 0 !important;
}

@media only screen and (max-width: 767px) {
    .desktop-group {
        display: none !important;
    }

    .mobile-group {
        display: block !important;
    }

}