body,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", serif !important;
}

p {
  font-size: 1.5rem;
}

.carousel-indicators li {
  height: 5px !important;
}

.carousel-indicators .active {
  background-color: #84b21e !important;
}

.carousel .ui.header {
  color: #fff !important;
}

.fixed.menu {
  z-index: 999 !important;
}

.fluid-segment {
  width: 100% !important;
}

.geneva-logo {
  margin-left: 0px;
}

.geneva-logo img {
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel-caption .lined-header {
  line-height: 0.5;
  text-align: center;
  color: #fff;
}

.carousel-caption .lined-header span {
  font-family: "Thasadith", serif !important;
  font-weight: 100 !important;
  font-size: 3rem !important;
  display: inline-block;
  position: relative;
}
.column .lined-header {
  line-height: 0.5;
  text-align: center;
  color: #fff;
}

.column .lined-header span {
  display: inline-block;
  position: relative;
}
.lined-header span:before,
.lined-header span:after {
  content: "";
  position: absolute;
  height: 20px;
  border-bottom: 3px solid #84b21e;
  top: 0;
  width: 200px;
}
.lined-header span:before {
  right: 100%;
  margin-right: 15px;
}
.lined-header span:after {
  left: 100%;
  margin-left: 15px;
}

.hero-header {
  font-family: "Noto Serif SC", serif !important;
  font-weight: 800;
  color: #fff;
  font-size: 4rem !important;
}

.jlr div img {
  opacity: 1 !important;
  height: 300px !important;
  border: 1px lightgray solid;
}

.medium.header {
  font-family: "Noto Serif SC", serif !important;
  font-weight: 800;
  font-size: 2.5rem !important;
}

.medium.header.roboto {
  font-family: "Roboto", sans-serif !important;
  font-weight: 800;
  font-size: 2.5rem !important;
}

.right.menu .item {
  border: none !important;
}

.right.menu .item:before {
  background: none !important;
}

.right.menu .item:hover {
  background: transparent !important;
  text-decoration: underline;
  text-decoration-color: #84b21e;
  text-decoration-style: solid;
}

.segment.first .row {
  text-align: left;
}

.ui.huge.inverted.header {
  font-family: "Noto Serif SC", serif;
}

.vertical.divider::before,
.vertical.divider::after {
  height: 100% !important;
}
