.body-main {
    background: url("../images/home-hero-image-small.jpg") no-repeat;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover;
}

.index .column {
    position: relative;
    transform: translateY(0%);
}

.index h1.huge.inverted.header {
    font-family: Georgia, serif;
    font-weight: 300;
    font-size: 4.5rem;
}

.index h2.huge.inverted.header {
    font-family: Georgia, serif;
    font-weight: 300;
    font-size: 2.5rem;
}

.mobile-group {
    display: none;
}

@media (min-width: 1920px) {
    .body-main {
        height: 101.5%;
        background: url("../images/home-hero-image-large.jpg") no-repeat;
        -webkit-background-size: cover; /* For WebKit*/
        -moz-background-size: cover; /* Mozilla*/
        -o-background-size: cover; /* Opera*/
        background-size: cover;
    }
}

@media (min-width: 1366px) {
    .body-main {
        height: 101.5%;
        background: url("../images/home-hero-image-medium.jpg") no-repeat;
        -webkit-background-size: cover; /* For WebKit*/
        -moz-background-size: cover; /* Mozilla*/
        -o-background-size: cover; /* Opera*/
        background-size: cover;
    }
}

@media only screen and (max-width: 1150px) {
    .body-main {
        height: 100% !important;
        width: 100% !important;
    }

    .index h1.huge.inverted.header {
        font-family: Georgia, serif;
        font-weight: 300;
        font-size: 3rem;
    }

    .index h2.huge.inverted.header {
        font-family: Georgia, serif;
        font-weight: 300;
        font-size: 2rem;
    }

    .index .desktop-group {
        display: none;
    }

    .index .mobile-group {
        display: block;
    }

    .ui.right.secondary.menu,
    .ui.fixed.menu {
        display: none !important;
    }

    .hanover-logo {
        margin-left: 30px;
        width: 80%;
    }

    .fa-bars {
        display: block !important;
        margin-right: 40px;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .footer.segment.mobile-group {
        display: block;
        bottom: 0;
    }
}
