@media only screen and (max-width: 1150px) {
    .ui.right.secondary.menu {
        display: none !important;
    }
    .menu img {
        margin-left: 0;
        padding-top: 30px;
        max-width: 180px;
    }
    .ui.right.sidebar {
        background-color:#003041;
        z-index: 1000;
    }
    .ui.right.sidebar .item {
        font-size: 2em;
        font-weight: 200;
        text-align: center;
    }

    .fa-bars {
        display: block !important;
        margin-right:15px;
    }
}

.fluid.secondary.menu {
    background: black;
    position: absolute;
    z-index: 100;
    margin-top: 0 !important;
}

.fluid.secondary.menu .active {
    color: lightslategrey !important;
}

.fluid.secondary.menu .item:hover {
    color: lightslategrey !important;
}

.light-text {
    font-weight: 200;
}

.footer.segment .text {
    color: #ffffff;
}

.vertical.footer.segment {
    background:black;
}

.vertical.footer.segment .thirteen.wide.column {
    margin-left: -15px;
}

/************************************************************************************************************/
.wow {
    visibility: hidden;
}
/*************************************************************************************************************/

.headhesive--clone {
    /* Required styles */
    position: fixed !important;
    background: #003041 !important;
    z-index: 101 !important;
    top: 0;
    left: 0;
    width: 105% !important;

    /* Translate -100% to move off screen */
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    /* Animations */
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

}

body > div.ui.fluid.secondary.menu.headhesive--clone.headhesive--stick {
    width: 105% !important;
}


/**
 * Headhesive stick
 * > `stick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     stick: 'banner--stick';
 *   }
 * }
 */
.headhesive--stick {

    /* Translate back to 0%; */
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
/*************************************************************************************************************/
loader css
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/hanover.gif) center no-repeat #fff;
}